@{
    ViewBag.Title = "Заказы";
}

<h1>Выберите таблицу заказов для просмотра</h1>

<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#orderM">Показать таблицу заказов по поставщикам</button>
        <div class="container, collapse" id="orderM"></div>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#orderS">Показать таблицу заказов по магазинам</button>
        <div class="container, collapse" id="orderS"></div>
</div>


<script>
    $(document).ready(function () {
        $.ajax(
            {
                url: '/List/ListOrderM',
                success: function (result) {
                    $("#orderM").html(result);
                }
            });
    });
    $(document).ready(function () {
        $.ajax(
            {
                url: '/List/ListOrderS',
                success: function (result) {
                    $("#orderS").html(result);
                }
            });
    });
</script>